<div class="center hero-unit">
  <h1>Welcome to the UCLA Dragon Boat team website!</h1>

  <h2>
    This is the home page for the team website.
    The official UCLA Dragon Boat website is 
    <a href="http://uclaclubsports.orgsync.com/org/ucladragonboat/home">here</a>.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("dboat_logo.jpg", alt: "Dboat"), 'http://uclaclubsports.orgsync.com/org/ucladragonboat/home' %>